<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Not Found</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />     <!-- Link to the external CSS file for styling -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">    <!-- Link to the favicon -->
</head>
<body>
    <h1>City Not Found</h1> <!-- Display the error message -->
    <h2>Try Again?</h2>      <!-- Prompt the user to try again -->
    <form action="/weather">
        <input type="text" name="city" id="city" placeholder="Enter a City" /> <!-- only option because this page only comes up if a user makes a mistake typing a city-->
        <button type="submit">Submit</button>
    </form>
  
</body>
</html>